// -----------------------------------------
// STICKY FOOTER
// Slight modification from Compass' footer
// Structure must be:
// <body>
//   <div id="main-wrapper">
//     ...
//     <div id="footer-push"></div>
//   </div>
//   <footer class="main-footer"></footer>
// </body>
// -----------------------------------------

@mixin sticky-footer(
  $height,
  $wrapper       : "#main-wrapper",
  $footer-push   : "#footer-push",
  $footer        : ".main-footer" ) {

  html, body {
    height : 100%;
  }

  #{$wrapper} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($height * -1);
  }
  
  #{$footer},
  #{$footer-push} {
    margin: 0 auto;
    height: $height;
  }

  #{$footer} {
    height : auto;
  }
}