// Put styles that are unique for this project here
@import "x-setting";
@import "edje-v21";

@mixin highlight {
  display: block;
  padding: 0.25em 0.5em;
  background-color: rgba(black, .1);
}

.grid-demo {
  margin: 3em 0;

  h2 {
    max-width: $grid-max-width;
    margin: 2rem auto 1rem;
  }

  h-grid {
    grid-row-gap: 10px;
  }

  div {
    padding: 0.5em 0;
    border: 1px solid rgba(black, .2);
    background-color: rgba(black, .1);

    text-align: center;
    border-radius: $g-radius;
  }

  div:nth-child(even) {
    background-color: rgba(black, .15);
  }
}

.tile-demo {
  li {
    margin-bottom: 20px;
  }

  span {
    @include highlight;
  }

  .custom-tile {
    @include tile(4, 3, 2);
  }
}

.visibility-demo {
  padding: 2em 0;

  p {
    margin-bottom: 1em;
    
  }

  p, span {
    @include highlight;
  }

  span {
    display: inline-block;
  }
}
