@charset "UTF-8";

// COLORS
$color-main : #2a71e3 !default;
$color-sub  : #d7d7d7 !default;

$color-passive : #e0e0e0 !default;
$color-link : $color-main !default;
$body-background  : #ffffff !default;

// SIZING
$size-max   : 650px !default;
$size-small : 360px !default;

// TYPOGRAPHY
$font-family : Helvetica, Arial, "sans-serif" !default;
$font-family-header : Helvetica, Arial, "sans-serif" !default;

$font-color  : #222 !default;
$font-weight : 400 !default;
$font-line   : 1.65 !default;
$font-size   : 16px !default;

// HEADER
$header-color  : $font-color !default;
$header-weight : 700 !default;
$header-line   : 1.5 !default;

$h1 : 42px !default;
$h2 : 36px !default;
$h3 : 30px !default;
$h4 : 24px !default;
$h5 : 20px !default;
$h6 : $font-size !default;