@charset "UTF-8";
@import "compass";

// FONT
$header-font-family : Helvetica, Arial, "sans-serif" !default;
$body-font-family   : Helvetica, Arial, "sans-serif" !default;

// COLORS
$main-color : #2a71e3 !default;
$sub-color  : #d7d7d7 !default;

$link-color : $main-color !default;

// SIZING
$row-max-width : 650px !default;
$mini-size   : 480px !default;

// BODY
$body-background  : #ffffff !default;
$body-font-color  : #222222 !default;
$body-font-weight : 400 !default;
$body-font-size   : 16px !default;
$body-line-height : 1.5 !default;

// TYPOGRAPHY
$h1-font-size : 44px !default;
$h2-font-size : 38px !default;
$h3-font-size : 30px !default;
$h4-font-size : 24px !default;
$h5-font-size : 20px !default;
$h6-font-size : 16px !default;

$header-font-color  : $body-font-color !default;
$header-font-weight : 700 !default;