// Put styles that you might reuse in other projects here
@import "setting";
@import "edje-framework";

// ----- BUTTON -----

button,
.button,
[type="submit"] {
  display: inline-block;
  outline: none;
  background-color: $color-main;
}

// ----- INPUT -----

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
textarea,
select {
  display: block;
  width: 100%;
  border: 1px solid $color-passive;
  border-top-color: darken($color-passive, 5%);

  &:hover {
    border-color: darken($color-passive, 10%);
    box-shadow: inset 0 0 3px $color-passive;
  }

  &:focus {
    border-color: $color-main;
    box-shadow: inset 0 1px 2px rgba(black, .2);
  }
}

// ----- WORDPRESS -----

// Fix admin bar on mobile
@include below(medium) {
  html #wpadminbar {
    position: fixed !important;
  }
}

// Contact Form 7
.wpcf7-form {
  span.wpcf7-not-valid-tip {
    color: $color-main;
    font-size: em(14px);
  }

  div.wpcf7-response-output {
    margin: 1em 0 0;
    border-width: 1px;
    border-radius: $g-radius;
    text-align: center;
  }

  .wpcf7-validation-errors {
    border-color: $color-red;
    color: $color-red;
    background-color: rgba($color-red, .3);
  }

  .wpcf7-mail-sent-ok,
  .wpcf7-mail-sent-ng {
    border-color: $color-green;
    color: $color-green;
    background-color: rgba($color-green, .5);
  }
}

form.wpcf7-form {
  max-width: 570px;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: $shadow-z1;

  br { display: none; }

  label {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 200px;

    font-size: em($font-size-small);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    vertical-align: top;
  }

  h2 {
    padding-top: 20px;
    margin-bottom: 1.5em;
    font-size: em($h4);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.wpcf7-form-control-wrap {
  display: inline-block;
  width: calc(100% - 205px);
}

.submit-wrapper {
  text-align: right;
}

// ----- 404 Page -----

.content-404 {
  padding: 100px 0;
  text-align: center;

  @include below(small) { padding: 30px 0; }

  h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1;
  }

  span {
    display: block;
    color: $font-color;
    font-size: em($h2, $h1);
  }

  strong {
    display: block;
    font-weight: $header-weight;
    color: $color-main;
  }
}

.pagination {
  margin-bottom: 1em;
  text-align: center;
  @include clearfix;

  .page-button,
  select {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin-left: -4px;
    background-color: white;
    border: 1px solid $color-main;
    height: 40px;
    vertical-align: middle;

    transition: $g-transition;
    -webkit-appearance: none;

    &:hover { background-color: rgba($color-main, .3); }
  }

  .page-button {
    padding: 6px;

    &:first-child {
      border-right: none;
      border-radius: $g-radius 0 0 $g-radius;
    }

    &:last-child {
      border-left: none;
      border-radius: 0 $g-radius $g-radius 0;
    }

    // no href
    &:not([href]) {
      background-color: white;
      color: rgba($font-color, .5);
      opacity: .5;
    }
  }

  select {
    padding: 6px 12px;
  }

}
