// ==================
// EDJE TYPOGRAPHY
// ==================

%h1 { @include font-sizes( $h1 ); }
%h2 { @include font-sizes( $h2 ); }
%h3 { @include font-sizes( $h3 ); }
%h4 { @include font-sizes( $h4 ); }
%h5 { @include font-sizes( $h5 ); }
%h6 { @include font-sizes( $h6 ); }


@if $output-framework {

/* ----------
  Typography
----------- */

body {
  position: relative;
  background: $body-background;

  @if not $responsive {
    min-width: $grid-max-width;
  }

  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $font-line;
  color: $font-color;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: $color-link;
  transition: $g-transition;

  &:hover { color: $color-link-hover; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: $header-weight;
  line-height: $header-line;
  color: $header-color;

  letter-spacing: $header-spacing;
  text-transform: $header-transform;
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

// ----- LIST -----

ul {
  list-style-type: $ul-parent;

  ul { list-style-type: $ul-child; }
}

ol {
  list-style-type: $ol-parent;

  ol { list-style-type: $ol-child; }
}

@include _text-selection();

// Create font-face declaration
@each $name, $files in $font-faces {
  @each $file, $weight, $style in $files {
    @font-face {
      src: font-url($file);
      font-family: $name;
      font-weight: $weight;
      font-style: $style;
    }
  }
}


/////

} // if output
