@if $output-framework {

// Visibility
@media ($above-s) {
  .hide-for-l,
  .show-for-s {
    display: none !important;
  }
}

@media ($below-s) {
  .hide-for-s,
  .show-for-l {
    display: none !important;
  }
}

@media ($above-xs) {
  .show-for-xs {
    display: none !important;
  }
}

@media ($below-xs) {
  .hide-for-xs {
    display: none !important;
  }
}

} // @if