

@if $output-framework {

// BACKGROUND
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-center { background-position: center center; }

@each $name, $value in $background-classes {
  .bg-#{ $name } {
    @if type-of( $value ) == color {
      background-color: $value;
    } @else {
      background-image: $value;
    }  
  }
}

// TYPOGRAPHY
.tt-uppercase { text-transform: uppercase; }
.tt-lowercase { text-transform: lowercase; }
.tt-capitalize { text-transform: capitalize; }

.ta-center { text-align: center; }
.ta-right { text-align: right; }
.ta-left { text-align: left; }

.ff-body { font-family: $font-family; }
.ff-header { font-family: $font-family-header; }

.ls-25 { letter-spacing: 0.025em; }
.ls-50 { letter-spacing: 0.05em; }
.ls-100 { letter-spacing: 0.1em; }
.ls-125 { letter-spacing: 0.125em; }
.ls-150 { letter-spacing: 0.15em; }

.b, .fw-bold { font-weight: bold; }
.i, .fw-italic { font-weight: italic; }
.u, .underline { text-decoration: underline; }

@each $name, $value in $font-size-classes {
  .f-#{ $name } {
    @if type-of( $value ) == map {
      @include font-sizes( $value );
    }
    @else {
      font-size: em( $value );
    }
  }
}

// DISPLAY
.d-inlineblock,
.d-iblock,
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none { display: none; }

// FLEX WRAPPER
.flex { @include display-flex; }
.flex--column { flex-direction: column; }
.flex--column-r,
.flex--column-reverse { flex-direction: column-reverse; }
.flex--row-r,
.flex--row-reverse { flex-direction: row-reverse; }
.flex--wrap { flex-wrap: wrap; }

.ai-start,
.ai-flex-start { align-items: flex-start; }
.ai-end,
.ai-flex-end { align-items: flex-end; }
.ai-center { align-items: center; }
.ai-baseline { align-items: baseline; }
.ai-stretch { align-items: stretch; }

.jc-start,
.jc-flex-start { justify-content: flex-start; }
.jc-end,
.jc-flex-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.jc-between,
.jc-space-between { justify-content: space-between; }
.jc-around,
.jc-space-around { justify-content: space-around; }


// FLEX ITEMS
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }

@include below( s ) {
  .flex-1-s { flex: 1; }
  .flex-2-s { flex: 2; }
  .flex-3-s { flex: 3; }
  .flex-4-s { flex: 4; }
  .flex-5-s { flex: 5; }
}

.as-start { align-self: flex-start; }
.as-end { align-self: flex-end; }
.as-center { align-self: center; }
.as-baseline { align-self: baseline; }
.as-stretch { align-self: stretch; }

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-last { order: 9999; }

@include below(s) {
  .order-last-s { order: 9999; }
  .order-1-s { order: 1; }
  .order-2-s { order: 2; }
  .order-3-s { order: 3; }
  .order-4-s { order: 4; }
  .order-5-s { order: 5; }
}



// BORDER
@each $name, $value in $border-width-classes {
  .b-#{ $name } { border: $value solid; }
  .bt-#{ $name } { border-top: $value solid; }
  .br-#{ $name } { border-right: $value solid; } 
  .bb-#{ $name } { border-bottom: $value solid; }
  .bl-#{ $name } { border-left: $value solid; }
}

.b--dashed { border-style: dashed; }
.b--dotted { border-style: dotted; }

@each $name, $value in $border-color-classes {
  .b--#{ $name } { border-color: $value; }
}


// BORDER RADIUS
.br { border-radius: $g-radius; }
.br-circle { border-radius: 50%; }
.br-pill { border-radius: 9999px; }

// SHADOW
.shadow-0 { box-shadow: $shadow-z0; }
.shadow-1 { box-shadow: $shadow-z1; }
.shadow-2 { box-shadow: $shadow-z2; }
.shadow-3 { box-shadow: $shadow-z3; }

// POSITION
.relative { position: relative; }
.absolute { position: absolute; }
.absolute-fill { position: absolute; top: 0; right: 0; left: 0; bottom: 0; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

// MARGIN
@each $name, $size in $margin-classes {
  @include _margin-classes( $name, '', $size );
}

@include below(m) {
  @each $name, $size in $margin-classes {
    @include _margin-classes( $name, '-m', $size );
  }
}

@include below(s) {
  @each $name, $size in $margin-classes {
    @include _margin-classes( $name, '-s', $size );
  }
}

@include below(xs) {
  @each $name, $size in $margin-classes {
    @include _margin-classes( $name, '-xs', $size );
  }
}


// PADDING
@each $name, $size in $padding-classes {
  @include _padding-classes( $name, '', $size );
}

@include below(m) {
  @each $name, $size in $padding-classes {
    @include _padding-classes( $name, '-m', $size );
  }
}

@include below(s) {
  @each $name, $size in $padding-classes {
    @include _padding-classes( $name, '-s', $size );
  }
}

@include below(xs) {
  @each $name, $size in $padding-classes {
    @include _padding-classes( $name, '-xs', $size );
  }
}

// HEIGHT
@each $name, $size in $width-classes {
  .h-#{ $name } { width: $size; }
}

@include below(s) {
  @each $name, $size in $width-classes {
    .h-#{ $name }-s { width: $size; }
  }
}

// WIDTH
@each $name, $size in $width-classes {
  .w-#{ $name } { width: $size; }
}

@include below(s) {
  @each $name, $size in $width-classes {
    .w-#{ $name }-s { width: $size; }
  }
}

// VISIBILITY
@include above(s) {
  .hide-for-l,
  .show-for-s {
    display: none !important;
  }
}

@include below(s) {
  .hide-for-s,
  .show-for-l {
    display: none !important;
  }
}

@include above(xs) {
  .show-for-xs {
    display: none !important;
  }
}

@include below(xs) {
  .hide-for-xs {
    display: none !important;
  }
}


// FLOAT

.f-left { float: left; }
.f-right { float: right; }
.clearfix { @include clearfix; }


} // if output