// ==============
// EDJE TILE
// ==============

@mixin tile(
  $per_row: false,
  $per_row_small: false,
  $per_row_mini: false,
  $gap: false,
  $collapse: false ) {

  @if $per_row {
    grid-template-columns: repeat( $per_row, 1fr );

    @if $per_row_small {
      @include below(small) {
        grid-template-columns: repeat( $per_row_small, 1fr );
      }
    }

    @if $per_row_mini {
      @include below(mini) {
        grid-template-columns: repeat( $per_row_mini, 1fr );
      }
    }
  }

  @if $gap {
    grid-column-gap: $gap;
    grid-row-gap: $gap;
  }

  @if $collapse {
    grid-column-gap: 0;
  }

}


@if $output-framework {

h-tile {
  @include display-grid;
  @include tile( $gap: $tile-gap );

  &.collapse {
    @include tile( $collapse: true );
  }

  > * {
    grid-column: span 1;
  }
}

@for $i from 1 through $tile-max {
  .tile-#{$i} {
    @include tile( $i );
  }
}

@include below(small) {
  // reset
  [class*="tile-"] { @include tile(1); }

  @for $i from 1 through $tile-max {
    .small-tile-#{$i} {
      @include tile( $i );
    }
  }
}

} // @if output
