@charset "UTF-8";

// ----------------
// OUTPUT CONFIG
// ----------------

// Must be true
$include-normalize  : true !default;
$include-typography : true !default;
$include-grid       : true !default;
$include-tile       : true !default;

// Default is false
$include-animate  : false !default;
$include-print    : false !default;
$include-code     : false !default;

// ----------
// COLOR
// ----------
$color-main : #2a71e3 !default;
$color-sub  : #d7d7d7 !default;
$color-link : $color-main !default;

$color-passive : #e0e0e0 !default;

$body-background: #fff !default;

// ----------------
// MEDIA QUERIES
// ----------------
$size-mini   : 480px !default;
$size-small  : 767px !default;
$size-medium : 1120px !default;
$size-large  : 1440px !default;

$_media-sizes: (
  mini: $size-mini,
  small: $size-small,
  medium: $size-medium,
  large: $size-large
);

// ----------------
// RESPONSIVE
// ----------------
$responsive : true !default;
$adaptive   : false !default;
$adaptive-breakpoints : $size-medium, $size-small, $size-mini !default;

// Shouldn't be modified by user
$user-mode   : false !default; // if mixin call came from framework or user
$in-media    : false !default; // if mixin call came from inside @media block

// ---------------
// GLOBAL VALUE
// ---------------
$g-radius : 2px !default;
$g-transition : all .25s ease-out !default;

// ------------
// c/TYPOGRAPHY
// ------------
$font-family : Helvetica, Arial, "sans-serif" !default;
$font-family-header : Helvetica, Arial, "sans-serif" !default;

$font-color  : #222 !default;
$font-weight : 400 !default;
$font-line   : 1.65 !default;

$font-size : 18px !default;
$font-size-small : 16px !default;

// HEADER
$header-color  : $font-color !default;
$header-weight : 700 !default;
$header-line   : 1 !default;

$h1 : 42px !default;
$h2 : 36px !default;
$h3 : 30px !default;
$h4 : 24px !default;
$h5 : 20px !default;
$h6 : $font-size !default;

$h1-small : 30px !default;
$h2-small : 26px !default;
$h3-small : 22px !default;
$h4-small : 20px !default;
$h5-small : 18px !default;
$h6-small : $font-size-small !default;

// LIST
$ul-parent : disc !default;
$ul-child  : circle !default;

$ol-parent : decimal !default;
$ol-child  : lower-alpha !default;

// -----------------
// TEXT DIRECTION
// ----------------
$text-direction   : ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$default-float    : left !default;
$default-opposite : right !default;
// No need to change this conditional statement, $text-direction variable controls it all.
@if $text-direction == ltr {
  $default-float    : left;
  $default-opposite : right;
} @else {
  $default-float    : right;
  $default-opposite : left;
}

// ----------
// u/OTHER
// ----------
$dir-images: "../images" !default;
$dir-fonts: "../fonts" !default;

// --------
// c/GRID
// --------
$grid-max-width : $size-medium !default;
$grid-columns : 12 !default;
$grid-gutter  : 20px !default;
$grid-rim     : $grid-gutter / 2 !default;

// ----------
// c/TILE
// ----------
$tile-max    : 8 !default;
$tile-gutter : 20px !default;

// -----------
// c/PRINT
// -----------
$override-color: true !default;