// Flexbox (flex-x)
$flex-classes: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,

  s: ()
) !default;

// Flex Order (orderx)
$order-classes: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  '-last': 9999,

  s: ()
) !default;


// Overflow  (ov-x / ovy-x / ovx-x )
$overflow-classes: (
  auto: auto,
  hidden: hidden,
  scroll: scroll,
  visible: visible,

  s: ()
) !default;

// Cursor (cursor-x) {
$_cursor-classes: (
  default: default,
  pointer: pointer,
  text: text,
  move: move,
  grab: grab,
  progress: progress,
  not-allowed: not-allowed,
  zoom-in: zoom-in,
  zoom-out: zoom-out,
) !default;



@if $output-functional {

// Display Type
.d-iblock,
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none { display: none; }

// Flex wrapper
.flex,
.d-flex { @include display-flex; width: 100%; }
.flex-column { @extend .flex; flex-direction: column; }
.flex-column-r,
.flex-column-reverse { @extend .flex; flex-direction: column-reverse; }
.flex-row-r,
.flex-row-reverse { @extend .flex; flex-direction: row-reverse; }
.flex-wrap { flex-wrap: wrap; }

.ai-start,
.ai-flex-start { align-items: flex-start; }
.ai-end,
.ai-flex-end { align-items: flex-end; }
.ai-center { align-items: center; }
.ai-baseline { align-items: baseline; }
.ai-stretch { align-items: stretch; }

.jc-start,
.jc-flex-start { justify-content: flex-start; }
.jc-end,
.jc-flex-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.jc-between,
.jc-space-between { justify-content: space-between; }
.jc-around,
.jc-space-around { justify-content: space-around; }


// Flex Items
@include _loop( $flex-classes ) {
  .#{ $_prefix }flex#{ $_name } {
    flex: #{ $_value };
  }
}

.as-start { align-self: flex-start; }
.as-end { align-self: flex-end; }
.as-center { align-self: center; }
.as-baseline { align-self: baseline; }
.as-stretch { align-self: stretch; }


@include _loop( $order-classes ) {
  .#{ $_prefix }order#{ $_name } {
    order: $_value;
  }
}

// Visibility
@include above(s) {
  .hide-for-l,
  .show-for-s {
    display: none !important;
  }
}

@include below(s) {
  .hide-for-s,
  .show-for-l {
    display: none !important;
  }
}

@include above(xs) {
  .show-for-xs {
    display: none !important;
  }
}

@include below(xs) {
  .hide-for-xs {
    display: none !important;
  }
}

// Overflow
@include _loop( $overflow-classes ) {
  .#{ $_prefix }ov-#{ $_name } { overflow: $_value; }
  .#{ $_prefix }ovy-#{ $_name } { overflow-y: $_value; }
  .#{ $_prefix }ovx-#{ $_name } { overflow-x: $_value; }
}

// Cursor
@include _loop( $_cursor-classes ) {
  .#{ $_prefix }cursor-#{ $_name } {
    cursor: #{ $_value };
  }
}

} // if