// Position
$_h-position: (
  static: ( position: static ),
  relative: ( position: relative ),
  absolute: ( position: absolute ),
  fixed: ( position: fixed ),

  absolute-fill: ( position: absolute, top: 0, right: 0, left: 0, bottom: 0 ),
) !default;


// Position Move
$h-position-move: (
  names: (
    top: top,
    right: right,
    bottom: bottom,
    left: left 
  ),
  values: (
    0: 0,
    100: 100%,
  )
) !default;


// Z-Index (zx)
$h-z-index: (
  names: (
    z: z-index
  ),
  values: (
    '-1': -1,
    2: 2,
    5: 5,
    10: 10,
    100: 100,
  )
) !default;


// Position Misc
$_h-position-misc: (
  f-left: ( float: left ),
  f-right: ( float: right ),
  clearfix: (
    '::before': ( content: " ", display: table ),
    '::after': ( content: " ", display: table, clear: both )
  )
) !default;


/////


$_h-all: map-merge( $_h-all, h-merge(
  $_h-position,
  $h-position-move,
  $h-z-index,
  $_h-position-misc
) );