
// Background  (bg-x) - can accept linear gradient() and url()
$background-classes: (
  main: $color-main,
  main75: rgba($color-main, .75),
  main50: rgba($color-main, .50),
  main25: rgba($color-main, .25),
  main10: rgba($color-main, .10),
  main05: rgba($color-main, .05),

  main-dark: $color-main-dark,
  main-light: $color-main-light,
  sub: $color-sub,

  body: $body-background,
  passive: $color-passive,

  red: $color-red,
  blue: $color-blue,
  yellow: $color-yellow,
  green: $color-green,

  black: black,
  black75: rgba(black, .75),
  black50: rgba(black, .50),
  black25: rgba(black, .25),
  black10: rgba(black, .10),
  black05: rgba(black, .05),

  white: white,
  white75: rgba(white, .75),
  white50: rgba(white, .50),
  white25: rgba(white, .25),
  white10: rgba(white, .10),
  white05: rgba(white, .05),
) !default;

// Opacity  (ox)
$opacity-classes: (
  100: 1,
  90: .9,
  80: .8,
  70: .7,
  60: .6,
  50: .5,
  0: 0,
) !default;

// Shadow (sx)
$shadow-classes: (
  0: $shadow-z0,
  1: $shadow-z1,
  2: $shadow-z2,
  3: $shadow-z3,

  s:(),
) !default;



@if $output-functional {

// Background color
@include _loop( $background-classes ) {
  .#{ $_prefix }bg-#{ $_name } {
    @if type-of( $_value ) == color {
      background-color: $_value;
    }
    @else {
      background-image: $_value;
    }
  }
}

// Background misc
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-center { background-position: center center; }


// Opacity
@include _loop( $opacity-classes ) {
  .#{ $_prefix }o#{ $_name } {
    opacity: #{ $_value }
  }
}

// Box Shadow
@include _loop( $shadow-classes ) {
  .#{ $_prefix }shadow#{ $_name } {
    box-shadow: #{ $_value }
  }
}


// Hover
[class*="hover-"] {
  cursor: pointer;
  transition: $g-transition;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -moz-osx-font-smoothing: grayscale;
  @include transform( translateZ(0) );
}

.hover-dim:hover { opacity: .5; }
.hover-dim:active { opacity: .8; }

.hover-grow:hover { @include transform( scale(1.05) ); }
.hover-grow:active { @include transform( scale(1) ); }

.hover-u:hover { text-decoration: underline; }

// hover-shadowx
@include _loop( $shadow-classes, false ) {
  .hover-shadow#{ $_name }:hover {
    box-shadow: $_value;
  }
}

// hover-bg-x
@include _loop( $background-classes, false ) {
  .hover-bg-#{ $_name }:hover {
    @if type-of( $_value ) == color {
      background-color: $_value;
    }
    @else {
      background-image: $_value;
    }
  }
}

// hover-c-x
@include _loop( $color-classes, false ) {
  .hover-c-#{ $_name }:hover {
    color: #{ $_value };
  }
}

} // if