$h-background-color: (
  names: ( bg-: background-color ),
  values: (
    body: $body-background,
    'transparent': transparent,
    'inherit': inherit,
    
    main: $main,
    main75: rgba($main, .75),
    main50: rgba($main, .50),
    main25: rgba($main, .25),
    main10: rgba($main, .10),
    main05: rgba($main, .05),
    main-dark: $main-dark,
    main-light: $main-light,
    
    sub: $sub,
    sub-dark: $sub-dark,
    sub-light: $sub-light,
    
    gray: $gray,
    gray-dark: $gray-dark,
    gray-light: $gray-light,

    'red': $red,
    'blue': $blue,
    'yellow': $yellow,
    'green': $green,

    'black': black,
    black75: rgba(black, .75),
    black50: rgba(black, .50),
    black25: rgba(black, .25),
    black10: rgba(black, .10),
    black05: rgba(black, .05),

    'white': white,
    white75: rgba(white, .75),
    white50: rgba(white, .50),
    white25: rgba(white, .25),
    white10: rgba(white, .10),
    white05: rgba(white, .05),
  )
) !default;


// Background Image - Can contain gradient too, name can't be duplicate with BG Color
$h-background-image: (
  names: ( bg-: background-image ),
  values: ()
) !default;

$_h-background-position: (
  names: ( bgp-: background-position ),
  values: (
    cc: center center,
    cr: center right,
    cl: center left,
    tc: top center,
    tr: top right,
    tl: top left,
    bc: bottom center,
    br: bottom right,
    bl: bottom left,
  )
) !default;


// Background Misc
$_h-background-misc: (
  bgs-cover: ( background-size: cover ),
  bgs-contain: ( background-size: contain ),
  
  bgr: ( background-repeat: repeat ),
  bgr-no: ( background-repeat: no-repeat ),
  bgr-x: ( background-repeat: repeat-x ),
  bgr-y: ( background-repeat: repeat-y ),

  // alias
  bgr-repeat: ( background-repeat: repeat ),
  bgr-no-repeat: ( background-repeat: no-repeat ),
  bgr-repeat-x: ( background-repeat: repeat-x ),
  bgr-repeat-y: ( background-repeat: repeat-y ),
) !default;


$h-opacity: (
  names: ( o: opacity ),
  values: (
    100: 1,
    90: .9,
    80: .8,
    70: .7,
    60: .6,
    50: .5,
    40: .4,
    30: .3,
    20: .2,
    10: .1,
    0: 0,
  )
) !default;


$h-shadow: (
  names: ( shadow: box-shadow ),
  values: (
    0: $shadow-z0,
    1: $shadow-z1,
    2: $shadow-z2,
    3: $shadow-z3,
    '-none': none,
  )
) !default;


$h-hover: (
  hover-dim: (
    ':hover': ( opacity: .6 ),
    ':active': ( opacity: .8 ),
  ),
  hover-grow: (
    ':hover': ( '-webkit-transform': scale(1.05), transform: scale(1.05) ),
    ':active': ( '-webkit-transform': scale(1), transform: scale(1) ),
  ),
  hover-u: ( ':hover': ( text-decoration: underline ) ),
) !default;


// Theme Misc
$_h-theme-misc: (
) !default;


// Transition
$h-transition: (
  transition: ( transition: $g-transition ),
  transition-none: ( transition: none ),
) !default;

/////


$_h-all: map-merge( $_h-all, h-merge(
  $h-background-color,
  $h-background-image,
  $_h-background-position,
  $_h-background-misc,

  $h-shadow,
  $h-opacity,
  $h-hover,

  $_h-theme-misc,
  $h-transition,
) );