@charset "UTF-8";

$_h-all: (); // for functional sass

// ----- OUTPUT CONFIG -----
$include-print : false !default;

// ----- COLOR -----
$main : #2196f3 !default;
$main-dark : darken($main, 10%) !default;
$main-light : lighten($main, 10%) !default;

$sub  : #607d8b !default;
$sub-dark: darken($sub, 10%) !default;
$sub-light: lighten($sub, 10%) !default;

$gray : #e0e0e0 !default;
$gray-light: #f3f6f8 !default;
$gray-dark: #b0bcc4 !default;

$color-link : #0366d6 !default;
$color-link-hover : lighten($color-link, 10%) !default;

$red : #f44336 !default;
$yellow : #ffeb3b !default;
$green : #4caf50 !default;
$blue: #2196f3 !default;

$body-background: #fff !default;
$text-highlight: null !default;


// Media Query
$size-xs : 480px !default;
$size-s  : 767px !default;
$size-m  : 960px !default;
$size-l  : 1120px !default;

$_media-sizes: (
  xs: $size-xs,
  s: $size-s,
  m: $size-m,
  l: $size-l,
) !default;

$below-xs: below(xs) !default;
$above-xs: above(xs) !default;
$below-s: below(s) !default;
$above-s: above(s) !default;
$below-m: below(m) !default;
$above-m: above(m) !default;
$below-l: below(l) !default;
$above-l: above(l) !default;

$portrait: "orientation: portrait" !default;
$landscape: "orientation: landscape" !default;
$retina: "min-resolution: 192dpi" !default;

// ----- RESPONSIVE -----
$responsive : true !default;
$adaptive   : false !default; // TODO: not implemented yet in v20
$adaptive-breakpoints : l, m, s, xs !default;

$_user-mode   : true !default; // when importing component, output the style or just mixin?


// ----- GLOBAL VALUE -----
$g-radius : 4px !default;
$g-transition : all .25s ease-out !default;


// ----- c/TYPOGRAPHY -----
$font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-header : "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif !default;

$font-color  : #222 !default;
$font-gray : #888 !default;
$font-weight : 400 !default;
$font-line   : 1.65 !default;

$font-size : 16px !default;
$font-size-s : 14px !default;

// HEADER
$header-color   : $font-color !default;
$header-weight  : 700 !default;
$header-line    : 1.25 !default;
$header-spacing : 0 !default;
$header-transform : none !default;

$h1: (base: 42px, s: 30px) !default;
$h2: (base: 36px, s: 26px) !default;
$h3: (base: 30px, s: 22px) !default;
$h4: (base: 24px, s: 20px) !default;
$h5: (base: 20px, s: 18px) !default;
$h6: (base: $font-size, s: $font-size) !default;


// LIST
$ul-parent : disc !default;
$ul-child  : circle !default;

$ol-parent : decimal !default;
$ol-child  : lower-alpha !default;



// ----- u/OTHER -----
$_dir-images: "../images" !default;
$_dir-fonts: "../fonts" !default;


// ----- u/SUPPORT ------
// http://browserhacks.com
$supports: (
  ie: '(-webkit-appearance:none)',
  firefox: '(-moz-appearance:meterbar) and (background-blend-mode:difference,normal)',
  webkit: '(-webkit-appearance:none)',
  chrome: '(-webkit-appearance:none)',
  opera: '(-webkit-appearance:none)',
);


// ----- c/GRID -----
$grid-columns : 12 !default;
$grid-gap     : 20px !default;
$grid-rim     : 10px !default;
$grid-max-width : $size-l !default; // TODO: confusing math, we want the $large to be +20px for easier @include below(l), so when we use adaptive, it breakdown as soon as it reached it


// ----- c/TILE -----
$tile-max : 8 !default;
$tile-gap : 20px !default;


///// SHADOW
$shadow-z0: 0 0.5px 2px rgba(black, .18), 0 1.5px 6px rgba(black, .08) !default;
$shadow-z1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12) !default;
$shadow-z2: 0 3px 12px rgba(black, .23), 0 3px 12px rgba(black, .16) !default;
$shadow-z3: 0 6px 12px rgba(black, .23), 0 10px 40px rgba(black, .19) !default;


// -----c/ANIMATE-----
$animation-duration: 1s !default;


// ----- c/PRINT -----
$override-color: true !default;
