// ==================
// Edje Typography
// ==================

// ----- INLINE LIST -----
@mixin inline-list() {
  @include clearfix();

  > li {
    display: inline-block;
    float: left;
    vertical-align: top;
  }
}

// ----- SELECTION -----
// Change the text highlight color

@mixin _text-selection($bg: $text-highlight) {
  @if $bg {

    // determine text color
    $color: white;
    @if (lightness($bg) > 60) { $color: #222; }

    ::-moz-selection {
      background: $bg;
      text-shadow: none !important;
      color: $color !important;
    }

    ::selection {
      background: $bg;
      text-shadow: none !important;
      color: $color !important;
    }
  }
}

// ----- DYNAMIC FONT SIZES -----
@mixin _font-sizes($sizes) {
  @each $media, $size in $sizes {
    $size: em($size);

    // if base, no need for media query
    @if $media == base {
      font-size: $size;
    }
    @else {
      @include below($media) { font-size: $size; }
    }
  }
}


@if not $_user-mode {

/* ----------
  Typography
----------- */

body {
  position: relative;
  background: $body-background;

  @if not $responsive {
    min-width: $grid-max-width;
  }

  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $font-line;
  color: $font-color;
}

p {
  margin-top: 0; margin-bottom: 0;
}

a {
  color: $color-link;
  transition: $g-transition;

  &:hover { color: $color-link-hover; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: $header-weight;
  line-height: $header-line;
  color: $header-color;

  letter-spacing: $header-spacing;
  text-transform: $header-transform;
}

h1 { @include _font-sizes($h1-sizes); }
h2 { @include _font-sizes($h2-sizes); }
h3 { @include _font-sizes($h3-sizes); }
h4 { @include _font-sizes($h4-sizes); }
h5 { @include _font-sizes($h5-sizes); }
h6 { @include _font-sizes($h6-sizes); }

// ----- LIST -----

ul {
  list-style-type: $ul-parent;

  ul { list-style-type: $ul-child; }
}

ol {
  list-style-type: $ol-parent;

  ol { list-style-type: $ol-child; }
}

blockquote {
  cite {
    display: block;
    font-style: italic;
  }
}

@include _text-selection();

} // @if
