// -----------------
// VENDOR PREFIXES
// -----------------

@mixin _prefixer( $prop, $value... ) {
  -webkit-#{ $prop }: $value;
  #{ $prop }: $value;
}


// Deprecated: Use h( d-flex ) instead
@mixin display-flex() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Deprecated: Use h( d-flex ) instead
@mixin flex() {
  @include display-flex;
}

// Deprecated: Use h( d-grid ) instead
@mixin display-grid() {
  display: -ms-grid;
  display: grid;
}

// Deprecated: No longer need prefix
@mixin transform-origin( $value... ) {
  @include _prefixer("transform-origin", $value...);
}

// Deprecated: No longer need prefix
@mixin transform( $value... ) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin perspective( $value... ) {
  @include _prefixer("perspective", $value...);
}
@mixin perspective-origin( $value... ) {
  @include _prefixer("perspective-origin", $value...);
}


// APPEARANCE
@mixin appearance( $value: none ) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

// PLACEHOLDER
@mixin placeholder($base: false) {
  @if $base {
    ::-webkit-input-placeholder { @content; }
    ::-moz-placeholder { @content; }
    :-ms-input-placeholder { @content; }
    :-moz-placeholder { @content; }
  } @else {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &:-moz-placeholder { @content; }
  }
}


// FILTER
@mixin filter( $value... ) {
  -webkit-filter: $value;
  filter: $value;
}
